{% extends 'base.html' %}

{%block title%}Home{%endblock%} 

{% block content %}

<div>
    <div class="align-items-center" style="height: 80vh;">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
          <h1 class="">Daily Feedbacks</h1>
          <p class="lead">Register or Login to Access Feedbacks...</p>
          
          
          <ul>
              <li style="list-style: none;"><a href="/register">Register</a></li>
          </ul>
          <ul>
              <li style="list-style: none;"><a href="/login">Login</a></li>
          </ul>
         

      </div>
    </div>
  </div>


{% endblock %}
