{% extends 'base.html' %}

{%block title%}Login{%endblock%} 

{% block content %}
  <div>
    <div class="row align-items-center" style="height: 80vh;">
    <!-- <div class="row"> -->
      <div class="mx-auto col-10 col-md-8 col-lg-6">
        <!-- Form -->
        <form class="form-example" action="" method="post">
          <h1>Login</h1>
          <p class="description">
            Login for our site. Don't have an Account ? <a href="/register">Register here!</a>
          </p>
          <!-- Input fields -->
          {{ form.hidden_tag() }}

          {% for field in form
          if field.widget.input_type != 'hidden' %}
          <div class="form-group">
              <p>
                {{ field.label }}
                {{ field(class_="form-control") }}
            
                {% for error in field.errors %}
                <span class="form-text text-danger">{{error}}</span>
              
                {% endfor %}
              </p>
          </div>
          {% endfor %}

          <button type="submit" class="btn btn-primary btn-customized mt-4">
            Login
          </button>
        </form>
        <!-- Form end -->
      </div>
    </div>
  </div>

{% endblock %}
